# Project Configuration

## Tech Stack

- AlpineJS for front-end interactivity and reactivity
- Tailwind CSS for styling
- Daisy UI components for its benefits
- Laravel for backend
- GitHub for version control

## Something about how to handle files from user

In Laravel, uploaded files are stored on the server’s disk—either in a **public** or **private** folder, not in the database. If you want to reference a file in the database, you only store its **relative path**, not the full path. This way, `Storage::url()` can generate the correct access URL when needed.
