@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
    themes: light --default;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

[data-loading] {
    display: none;
}

[x-cloak] { display: none !important; }

@layer components {
    .menu-text {
        @apply m-0 px-[calc(0.25rem*3)] py-[calc(0.25rem*1.5)];
    }
}

@source inline('basis-[125px]');
